apiVersion: apps/v1
kind: Deployment
metadata:
  name: elasticsearch
  namespace: logging-ns
spec:
  replicas: 1
  selector:
    matchLabels:
      app: elasticsearch
  template:
    metadata:
      labels:
        app: elasticsearch
    spec:
      containers:
        - name: elasticsearch
          image: docker.elastic.co/elasticsearch/elasticsearch:7.17.10
          env:
            - name: discovery.type
              value: single-node
            - name: ES_JAVA_OPTS
              value: "-Xms128m -Xmx128m" # Batasi RAM agar laptop tidak berat
          ports:
            - containerPort: 9200
            - containerPort: 9300
          resources:
            requests:
              memory: "1Gi"
              cpu: "500m"
            limits:
              memory: "2Gi"
              cpu: "1000m"
---
apiVersion: v1
kind: Service
metadata:
  name: elasticsearch
  namespace: logging-ns
spec:
  selector:
    app: elasticsearch
  ports:
    - port: 9200
      targetPort: 9200
